<!DOCTYPE html>
<html>
  <head>
    <title>CourierService</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <ul>
      <% if user_signed_in?%>
        <li><span class="float-right clear">Welcome: <%= current_user.name%></span></li>
        <li><span class="float-right clear"><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></span></li>
        <li><a href="/">Home</a></li>
        <li><a href="/search">Search Orders</a></li>
        <li><a href="/parcels">Parcels</a></li>
        <% if current_user.is_admin?%>
          <li><a href="/users">Manage Users</a></li>
          <li><a href="/service_types">Service Types</a></li>
          <li><a href="/reports">Reports</a></li>
        <% end %>
      <% end %>
    </ul>

    <%= yield %>
  </body>
</html>
